.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 50px 200px;
}
div:nth-child(1){
    color: brown;
    grid-column: 2 / 6;
    grid-row: 2 / 2;
}